* {
  box-sizing:border-box;
}

.pitch {
      background: linear-gradient(
    to bottom,
    #5d9634,
    #5d9634 50%,
    #538c2b 50%,
    #538c2b
  );
  background-size: 100% 20vmin;
  border:solid 1px #fff;
  height:100vmin;
  position:relative;
  width:90vmin;
}

.top-box {
  border:solid 1px #fff;
  bottom:85vmin;
  left:25vmin;
  position:absolute;
  right:25vmin;
  top:0;
}

.top-box:before {
  border-bottom:solid 1px #fff;
  border-left:solid 1px #fff;
  border-right:solid 1px #fff;
  border-radius:0 0 15vmin 15vmin;
  bottom:-5vmin;
  content:"";
  height:5vmin;
  left:13vmin;
  position:absolute;
  right:13vmin;
}

.bottom-box {
  border:solid 1px #fff;
  bottom:0;
  left:25vmin;
  position:absolute;
  right:25vmin;
  top:85vmin;
}

.bottom-box:before {
  border-left:solid 1px #fff;
  border-right:solid 1px #fff;
  border-top:solid 1px #fff;
  border-radius:15vmin 15vmin 0 0;
  content:"";
  height:5vmin;
  left:13vmin;
  position:absolute;
  right:13vmin;
  top:-5vmin;
}

.centre-circle {
  border:solid 1px #fff;
  border-radius:100%;
  bottom:40vmin;
  left:30.5vmin;
  position:absolute;
  right:30.5vmin;
  top:40vmin;
}

.centre-line {
  border-bottom:solid 1px #fff;
  bottom:50vmin;
  left:0;
  position:absolute;
  right:0;
  top:0;
}
.side-selection{
    margin-left: 8px;
    background-color: #fff;
    border: 1px solid #e8e1e1;
    padding-top: 5px;
}
#squad-side{
  margin-top: -8px;
  border-bottom: 1px solid #a0e0cc;
  padding-bottom: 1px;
}
#players{
    background-color: #88919e;
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.side-img-div{
  height:100px;
  width:100px;
  border: 1px solid #b3b1b1;
  margin-top:5px;
  padding:5px;
  margin-left: 20px;
}
.player-img-side{
    height: 50px;
    width: 50px;
}
.player-img{
    height: 50px;
    width: 50px;
    position: absolute;
}
.player-text{
  color:#fff;
  margin: 0;
  text-align: center;
  font-size: small;
}
/* pitch formation */
.lf-n{
    height: 15px;
    width: 15px;
    background-color: rgb(7, 5, 5);
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    margin-left: 45%;
}
.lf-main-div{
    height: 100px;
    width: 100px;
    left: 60px;
    top: 120px;
    position: absolute;
    text-align: center;
}
.rf-main-div{
    height: 100px;
    width: 100px;
    left: 380px;
    top: 120px;
    position: absolute;
    text-align: center;
}

.cf-main-div{
    height: 100px;
    width: 100px;
    left: 220px;
    top: 50px;
    position: absolute;
    text-align: center;
}
.lm-main-div{
    height: 100px;
    width: 100px;
    left: 130px;
    top: 225px;
    position: absolute;
    text-align: center;
}
.rm-main-div{
    height: 100px;
    width: 100px;
    left: 300px;
    top: 225px;
    position: absolute;
    text-align: center;
}
.cm-main-div{
    height: 100px;
    width: 100px;
    left: 40px;
    top: 90px;
    position: absolute;
    text-align: center;
}
.lb-main-div{
    height: 100px;
    width: 100px;
    left: -120px;
    bottom: 90px;
    position: absolute;
    text-align: center;
}
.cbl-main-div{
    height: 100px;
    width: 100px;
    left: -10px;
    bottom: 90px;
    position: absolute;
    text-align: center;
}
.cbr-main-div{
    height: 100px;
    width: 100px;
    right: -10px;
    bottom: 90px;
    position: absolute;
    text-align: center;
}
.rb-main-div{
    height: 100px;
    width: 100px;
    right: -120px;
    bottom: 90px;
    position: absolute;
    text-align: center;
}
.gk-main-div{
    height: 100px;
    width: 100px;
    right: 70px;
    bottom: -10px;
    position: absolute;
    text-align: center;
}
/*  /pitch formation */
/* draggable test */
#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}
/* draggable test */